[flake8]
max-line-length = 120
extend-ignore =
  # E203: Whitespace before ':'
  E203,
  # P123: open("foo") should be replaced by Path("foo").open()
  PL123
per-file-ignores=
  # N815:	mixedCase variable in class scope (constants, method namesb
  ./src/models/*.py:N815
max-complexity = 10