[tool.black]
line-length = 120
target-version = ["py38"]
extend-exclude = "src/model.py"

[tool.isort]
profile = "black"

[tool.mypy]
python_version = "3.8"
warn_return_any = true
warn_unused_configs = true
