#
# このファイルは手動で編集すること
# requirements.txt の生成は次のコマンドを実行:
#    ./scripts/generate_lockfile.sh
#

### common deps ### 
# Linter / Formatter
autoflake~=2.3
bandit~=1.7
black~=24.4
flake8~=7.0
flake8-absolute-import~=1.0
flake8-bandit~=4.1
flake8-bugbear~=24.2
flake8-class-attributes-order~=0.1
flake8-comprehensions~=3.14
flake8-implicit-str-concat~=0.4
flake8-use-pathlib~=0.3
isort~=5.13
mypy~=1.10
pep8-naming~=0.13
pylint~=3.1
pyupgrade~=3.15

# Test
jsonschema~=4.21
pyyaml~=6.0

# Cloud Functions
functions-framework~=3.5
google-cloud-storage~=2.14

### additional deps ###
