# ===================================================================
# ここには pip freeze で生成された依存関係のリストは書き込まないでください
#
# 以下のコマンドは禁止！
#   pip freeze > requirements.txt
#   pip freeze >> requirements.txt
# ===================================================================

fastapi[all]

# Linter / Formatter
autoflake
bandit
black
flake8
flake8-absolute-import
flake8-bugbear
flake8-class-attributes-order
flake8-comprehensions
flake8-functions-names
flake8-implicit-str-concat
flake8-return
flake8-use-fstring
flake8-use-pathlib
flake8-variables-names
isort
mypy
pep8-naming
pylint

# Test
jsonschema
pyyaml

# Cloud Functions
functions-framework~=3.0
google-cloud-storage