#
# このファイルは手動で編集すること
# requirements.txt の生成は次のコマンドを実行:
#    ./scripts/generate_lockfile.sh
#

### common deps ###
fastapi~=0.115
uvicorn~=0.35
pydantic~=2.11
# Linter / Formatter
autoflake~=2.3
bandit~=1.8
black~=25.1
flake8~=7.2
flake8-absolute-import~=1.0
flake8-bandit~=4.1
flake8-bugbear~=24.12
flake8-class-attributes-order~=0.3
flake8-comprehensions~=3.16
flake8-implicit-str-concat~=0.5
flake8-use-pathlib~=0.3
isort~=6.0
mypy~=1.16
pep8-naming~=0.14
pylint~=3.3
pyupgrade~=3.20

# Test
jsonschema~=4.23
pyyaml~=6.0

# Google Cloud
google-cloud-storage~=3.1

### additional deps ###
